/* CSS for the main input pages of the site
Tom Middleton */

body {
background-color: #F7F7F0;
margin: 0;
overflow-x: hidden;
width:99%;
}


.ui-widget-header {
background: #4c0068; /* Old browsers */
background: -moz-linear-gradient(top, #4c0068 18%, #68006d 51%, #330066 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#4c0068), color-stop(51%,#68006d), color-stop(100%,#330066)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4c0068 18%,#68006d 51%,#330066 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4c0068 18%,#68006d 51%,#330066 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4c0068 18%,#68006d 51%,#330066 100%); /* IE10+ */
background: linear-gradient(to bottom, #4c0068 18%,#68006d 51%,#330066 100%); /* W3C */
-webkit-border-top-left-radius: 40px;
-webkit-border-top-right-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-topright: 40px;
border-top-left-radius: 40px;
border-top-right-radius: 40px;
}


#input_wrap {
clear: both;
margin: 0 auto 730px;
min-width: 1000px;
width: 90%;
padding-bottom:20px;
}

div#subdiv {
    margin-right: 10%;
    position: absolute;
    right: 0;
    margin-top: 20%;
}
#subdiv > #submit {
	background-color: #cc0066;
	border: 2px solid #a20054;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px 10px 10px;
	text-shadow: 0 1px 2px #99165c;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}


#result {
clear: both;
margin-top: 50px;
width: 100%;
}

#top_style{
background-color: #333;
font-family: Helvetica,Arial,sans-serif;
font-size: 100%;
box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
height: 20px;
padding: 6px 8px 8px;
text-align: right;
min-width:900px;
width:100%;
}


#external_links{
font-family: Franklin Gothic Medium,Helvetica,Arial,sans-serif;
color: #666;
display: block;
float: left;
padding-top: 50px ;
padding-bottom: 50px;
margin-right: 28px;
}

nav > a {
margin-right: 25px;
font-size: 23px;
margin-right: 25px;
font-size: 23px;
color: #ccc;
vertical-align: baseline;
text-decoration:none;
text-shadow:none;
}

a{
color: #fff;
font-size: 14px;
font-weight: bold;
text-decoration:none;
}

#button_wrap1 > a {
font-size:14px;

}

#buttons {
background-color: #333;
height: 3.05em;
margin-bottom: 30px;
padding: 0.6em 3px 3px;
width: 99.6%;
-webkit-border-bottom-right-radius: 40px;
-webkit-border-bottom-left-radius: 40px;
-moz-border-radius-bottomright: 40px;
-moz-border-radius-bottomleft: 40px;
border-bottom-right-radius: 40px;
border-bottom-left-radius: 40px;
}


#button_wrap {
margin: 0 auto;
width: 1010px;
}

#button_wrap2 {
margin: 0 auto;
width: 900px;
}

#button_wrap1 {
margin: 0 auto;
width: 1060px;
}



#header_style {
margin: 0;
min-width: 1500px;
padding-left: 1px;

width: 100%;
}


#title {
float: left;
margin-left: 10%;
width: 50%;
}

#logo {
float: right;
margin-right: 50px;
width: 20%;
}

#lboro_logo {
display: inline-block;
float: right;
margin-right: 90px;
margin-top: 20px;
padding-left: 65px;
width: 100%;
}

button{
background-color: #cc0066;
border: 2px solid #a20054;
color: #fff;
font-size: 14px;
font-weight: bold;
padding: 10px 15px 10px 10px;
text-shadow: 0 1px 2px #99165c;
margin-left:10px;
margin-right:10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

#edit_button {
background-color: #cc0066;
border: 2px solid #a20054;
color: #fff;
font-size: 14px;
font-weight: bold;
padding: 1px 15px 1px 15px;
text-shadow: 0 1px 2px #99165c;
margin-left:10px;
margin-right:10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

#delete_button {
background-color: #cc0066;
border: 2px solid #a20054;
color: #fff;
font-size: 14px;
font-weight: bold;
padding:  1px 9px 1px 9px;
text-shadow: 0 1px 2px #99165c;
margin-left:10px;
margin-right:10px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}


button:hover, #submit:hover {
background-color: #B00058;
border: 2px solid #860043;

}

#Ad_submit{
position:relative;
left: 55%;
top: 75%;
}

table{
font-family: Franklin Gothic Medium,Helvetica,Arial,sans-serif;
text-align: center;
position: relative;

}


th {
color: #fff;
font-size: 1.2em;
font-weight: bold;
text-shadow: 0 1px 2px #99165c;
}


select{
font-size:20px;
margin-left:auto;
width:100px;
}
.cell2 {
border-left: 1.5px;
background-color: #f2f2e6;
}




.inputs {
position: relative;
left: 5%;
top: 63%;
text-align:left;
font-size:1em;
background-color: #F7F7F0;
}


#myresulttable {
border: 2px solid #a20054;
font-size: 0.6em;
margin: 0 auto;
position: relative;
text-align: center;
top: 100%;
width: 95%;
}

.input_boxes {
width:100%;
}

#inputs {
float: left;
margin-left: 0;
width: 80%;
font-size:1.2em;
}

#advancedinputs {
font-size: 1.2em;
left: 5%;
position: relative;
text-align: left;
top: 63%;
font-size: 1.2em;
position: relative;
text-align: left;
width:350px;
}

#advance {
float: left;
margin-left: 5%;
width: 40%;
display:none;
}

#advance2 {
float: left;
margin-left: 5%;
width: 400px;
}

#advance3 {
float: left;
margin-left: 5%;
width: 400px;
}

#advance4 {
float: left;
margin-left: 5%;
width: 45%;
}

#id_submit {
float: right;
margin-right: 60px;
margin-top: 20px;
}

#newTable {
float: right;
margin-right: 60px;
margin-top: 20px;
}

#save {
float: right;
margin-right: 60px;
margin-top: 20px;
z-index:99;
}

.show{
display:block;
}

.hide{
display:none;
}

#buttons2 {
clear:both;
}

h1 {
font-family: Verdana,Arial,sans-serif;
font-size: 2em;
text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
color:#6A6A62;
}

h2 {
font-size:1.25em;
font-family: Verdana,Arial,sans-serif;
text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
color:#84847A;
}

h3 {
font-size:1em;
font-family: Verdana,Arial,sans-serif;
text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
color:#84847A;
display:inline;
}

h4 {
font-family: Verdana,Arial,sans-serif;
text-shadow:#fff 0px 1px 0, #000 0 -1px 0;
color:#330066;
display:inline;
font-style:italic;
}

#tabs {
background-color: #F7F7F0;
clear: both;
height: 1100px;
margin-left: 0;
min-width: 1250px;
width: 100%;
}



#tab1 {
margin-left:165px;

}

#tab1 > a {
font-size:1em;
}


#tab2 > a {
font-size:1em;
}

#tab3 > a {
font-size:1em;
}

#tab4 > a {
font-size:1em;
}

.ui-tabs .ui-tabs-panel {
padding:0;
}

ul.tabs li.ui-tabs-active a, ul.tabs li.ui-tabs-selected a{ background-color:blue; }

.ui-widget-content {
background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ffffff;
border: 0;
}


#room_list2 {
display:none;
}

#room_list3 {
display:none;
}

#room_list4 {
display:none;
}

#adv_block {
float:left;
margin-right:30px;
margin-bottom:30px;
}

#expand {
border-radius: 12px;
float: right;
font-size: 0.45em;
padding: 0;
margin-top: 5px;
}
#expand2 {
border-radius: 12px;
float: right;
font-size: 0.45em;
padding: 0;
margin-top: 5px;
}
#expand3 {
border-radius: 12px;
float: right;
font-size: 0.45em;
padding: 0;
margin-top: 5px;
}
#expand4 {
border-radius: 12px;
float: right;
font-size: 0.45em;
padding: 0;
margin-top: 5px;
}

#module_code_select {
width:80%;
}

#module_title_select {
    width: 85%;
}

#tuesday {
margin-left:38px;
}

#time {
width:100%;
}

#duration {
width: 45%;
}

#noRooms{
width: 18%;
}

textarea {
width:90%;
}

#room_list {
width:120px;
}

#room_list2 > select {
width:120px;
}

#room_list3 {
width:120px;
}

#room_list3 > select {
width:120px;
}

#room_list4 {
width:120px;
}

#room_list4 > select {
width:120px;
}

table {
	empty-cells: show;
	border-spacing: 0px;
    border-collapse: separate;
	overflow:hidden;
}

#content_wrap {
background-color: #F7F7F0;
clear: both;
height: 1100px;
margin-left: 0;
width: 100%;
z-index:0;
 padding-bottom: 800px;
}

#table_header {
clear:both;
z-index:99;
width:1400px;
background-color: #F7F7F0;
}

#page_wrap {
clear: both;
margin: 270px auto 0;
width: 1400px;
}

.entries_table tr:nth-child(odd){ overflow:hidden; background-color:#f7c9ff;  }
.entries_table tr:nth-child(even){ overflow:hidden; background-color:#ffffff;  }


#dataTable {
width:1400px;
border:1px solid #000000;
overflow:hidden;
-moz-border-radius-bottomleft:2px;
-webkit-border-bottom-left-radius:2px;
border-bottom-left-radius:2px;

-moz-border-radius-bottomright:2px;
-webkit-border-bottom-right-radius:2px;
border-bottom-right-radius:2px;

}



#dataTable td {
width:93.333px;
max-width:93.333px;
font-size:1em;
border:1px solid #000000;
overflow:hidden;
}



#scrollTable {
border:1px solid #000000;
background:-o-linear-gradient(bottom, #600060 5%, #a801a8 100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #600060), color-stop(1, #a801a8) );
background:-moz-linear-gradient( center top, #600060 5%, #a801a8 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#600060", endColorstr="#a801a8"); background: -o-linear-gradient(top,#600060,a801a8);
color:#fff;

-moz-border-radius-topright:22px;
-webkit-border-top-right-radius:22px;
border-top-right-radius:22px;

-moz-border-radius-topleft:22px;
-webkit-border-top-left-radius:22px;
border-top-left-radius:22px;

}

#scrollTable td {
width:93.333px;
max-width:93.333px;
font-size:1em;
overflow:hidden;
cursor: pointer;
}


hr {
	margin-bottom: 30px;
    margin-top: 170px;
	border: 0;
	height: 3px;
	background-image:
	-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(51,0,102,1), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(51,0,102,1), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(51,0,102,1), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(51,0,102,1), rgba(0,0,0,0));
}


#round_input_separator{
	margin-bottom: 30px;
    margin-top: 30px;
	border: 0;
	height: 1.5px;
	background-image:
	-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(217, 219, 218, 0.3), rgba(0,0,0,0));
	background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(217, 219, 218, 0.3), rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(217, 219, 218, 0.3), rgba(0,0,0,0));
	background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(217, 219, 218, 0.3), rgba(0,0,0,0));
}

#timetable {
	clear:both;
}

#status_change {
    margin: 0 auto;
    width: 240px;
}

.currentSort {
	color:black;
	text-decoration:underline;
}

#testTable  p {
	background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
	background-color: #DDC9DD;
    box-shadow: 0 0 0 1px #600060;
	border:1px solid  #600060;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
color:#3a003a;
font-weight:bold;
}

#images_holder {
    position: relative;
    width: 100%;
	top: 20px;
	min-width: 1500px;
}

#image_wrap {
	width: 190px;
	margin:0 auto;
}

#image_wrap a {
	float:left;
}

#listLink {
	float:left;
	margin-right: 70px;
}

.sort {
	margin-top: 20px;
}

#testTable {
	-moz-border-radius-topright:22px;
-webkit-border-top-right-radius:22px;
border-top-right-radius:22px;

-moz-border-radius-topleft:22px;
-webkit-border-top-left-radius:22px;
border-top-left-radius:22px;

	-moz-border-radius-bottomright:22px;
-webkit-border-bottom-right-radius:22px;
border-bottom-right-radius:22px;

-moz-border-radius-bottomleft:22px;
-webkit-border-bottom-left-radius:22px;
border-bottom-left-radius:22px;
border-bottom: 1px solid  #c1c1c1;
border-right: 1px solid  #c1c1c1;
}

#testTable th {
border:1px solid  #c1c1c1;
background:-o-linear-gradient(bottom, #600060 5%, #a801a8 100%); background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #600060), color-stop(1, #a801a8) );
background:-moz-linear-gradient( center top, #600060 5%, #a801a8 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#600060", endColorstr="#a801a8"); background: -o-linear-gradient(top,#600060,a801a8);
color:#fff;
}

#testTable td {
	width:9.01%;
}

.day {
	background-color:#f1f1f1;
	border-right: 1px solid  #c1c1c1;
	border-left: 1px solid  #c1c1c1;
	height:135px;
}

#tableP {
	color:white;
}

